body {
  font-family: 'Rubik', sans-serif;
  background: #000;
}

.timer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timer-title {
  font-size: 58px;
  font-weight: bold;
}

.timer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.timer-clock {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.timer-box .time {
  font-size: 76px;
  font-weight: medium;
  color: #fff;
}